.navbar {
    background-color: cadetblue;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: column;
    gap: 2.5rem; */
}